nav h3{
  color: white;
}
.home-content{
  color: #ccc;
  min-height: 50vh;

  padding-top: 20px;

  background-color: #ccc;
}
.home-cards{
  padding: 10px;
  background-color: #fff;
  color: #000;

  border-radius: 5px;

  margin-top: 10px;
}
